*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main{
    position: relative;
}
.main .bg-image{
    height: 100vh;
    width: 100%;
}
.main .main-details{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #FFFFFF;
    /* color: #e76f51
    #e9c46a
    ; */
    font-family: 'Poppins', sans-serif;
}
.main .main-details h1{
    font-size: clamp(1rem, 7vw ,1rem);
    font-weight: normal;
    letter-spacing: 1px;
}
.main .main-details h2{
    font-weight: normal ;
    font-size: 2rem;
    word-spacing: -4px;
    letter-spacing: 1px;
}
.main .main-details p{
    font-weight: normal ;
    font-size: normal;
    letter-spacing: 1px;
}
.main .main-details .link{
    margin: 20px 0px;
}
.main .main-details .link a{
    padding: 10px 20px;
    border-radius: 2px;
    font-size: 11px;
    background: #e76f51;
    border: none;
    color: #FFFFFF;
    font-weight: 500;
    text-decoration: none;
}
.section2{
    padding: 5px 15px; 
    font-family: 'Poppins', sans-serif;
    height: 100vh;
    display: grid;
    place-items: center;
    overflow: hidden;
}

.trending-container{
    display: grid;
    place-items: center;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
}
.section2 .trending-top{
    text-align: center;
    font-size: smaller;
    color:#e76f51;
    letter-spacing: 1px;
}
.section2 .trending-bottom{
    display: flex;
    flex-direction: column;
    
}
.section2 .trending-bottom .trending-image{
    height: 100%;
    width: 150px;
    object-fit: contain;
}
.section2 .trending-bottom .trending-details{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
  
}
.trending-bottom .trending-details .details p{
    color: #b7b7a4;
    font-size: smaller;
}
.section3{
    font-family: 'Poppins', sans-serif;
    height: 100vh;
    overflow: hidden;
    display: grid;
    place-items: center;
}
.section3-top{
    text-align: center;
    color: #e76f51;
    letter-spacing: 1px;
    font-size: smaller;
}
.section3-left img{
    object-fit: contain;
}
.section3 .section3-details{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
}
.section3-details .section3-right h2{
    color: #e9c46a;
    margin: 10px 0px;
}
.section3-details .section3-right p{
    font-size: small;
}
.section3-right{
    display:flex;
    flex-direction: column;
    justify-content: center;
}
footer{
    padding: 40px 60px;
    background-color: rgb(54, 82, 91);
    color: #FFFFFF;
    font-family: 'Poppins', sans-serif;
}
footer .footer-topContainer{
    display: grid;
    place-items: center;
}
.footer-top{
    text-align: center;
    width: 50%;
}
.footer-top p{
    font-size: small;
}
.footer-top h2{
    letter-spacing: 2px;
}
.footer-bottom{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-size: x-small;
    margin-top: 20px;
}
.footer-bottom .footer-nav{
    display: flex;
    align-items: center;
    gap: 7px;
    
}